#canvasPane {
	-fx-alignment: center;
}

#controlPane {
	-fx-alignment: top-center;
	-fx-spacing: 10px;
	-fx-fill-height: true;
}

#runButton {
	-fx-text-alignment: center;
}

#messagePane {
	-fx-background-color: transparent;
	-fx-padding: 5, 0, 0, 0;
}

#mainBorderPane, #suggestionsView, #rootWorldViewPane {
		-fx-background-color: #2c2f33;
}

#suggestionsPane, #suggestionsPane . viewport, #MAPElitesPane, #MAPElitesPane . viewport, #mapScrollPane, #mapScrollPane .viewport{
	-fx-background-color: transparent;
}

#programTitle {
	-fx-font: 72px "Consolas";
	-fx-text-fill: #7c7c7c;
}

#selectWorldLabel {
	-fx-font: 55px "Consolas";
	-fx-text-fill: #7c7c7c;
}
.menu, .context-menu, .menu-bar {
					-fx-background-color: #828282;
				
}
#patternLabel, #editorToolsLbl {
	-fx-padding: 15 0 0 0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	
}

#centralCanvas {
	-fx-pref-height: 500;
	-fx-pref-width: 500;
}

#startView {
	-fx-padding: 40;
	-fx-hgap: 20;
	-fx-vgap: 20;
}

#canvasPane {
	-fx-pref-height: 140;
	-fx-pref-width: 140;
}

#generatedMapsLabel {
	-fx-padding: 10 10 10 10;
		-fx-text-fill: white;
	
}

#worldSizeBox {
	
}

#label1, #label2, #label3, #enemyNumbr, #treasureNmbr, #treasurePercent, #enemyPercent, #entranceSafety, #treasureSafety, #generatedMapsLabel .label {
	-fx-font-weight: bold;
		-fx-text-fill: white;
	
}

.labeled-canvas .label {
	-fx-text-alignment: center;
		-fx-text-fill: white;
	
}

.labeled-text-field .label {
	-fx-pref-width: 200;
		-fx-text-fill: white;
	
}

#toolbox .button,
#toolbox .toggle-button {
	-fx-pref-width: 80;
}

.dimensionLabel {
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-font: 30px "Arial";
	
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane{
	 -fx-background-color: transparent;
}


#MainTable{
	-fx-background-color: rgba(0,0,0,.2);
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.table-view:focused{
     -fx-background-color: rgba(0,0,0,.2);
    -fx-background-opacity: 0.2;
}

.table-view .table-column{
	-fx-alignment: CENTER;
	 -fx-font-size:12px;  
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
}

.table-view .text-field-table-cell .text-field {
   -fx-padding: 1;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:even:filled{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd:filled{
    -fx-background-color: rgba(232,232,232,.1);
     -fx-background-opacity: 0.2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-border-width: 2px; 
    -fx-border-color: #00ff00;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
     -fx-background-color: null;
     -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#popupMain {
	-fx-pref-width: 400;
	-fx-max-width: 400;
	-fx-alignment: center;
	-fx-background-color: rgba(232,232,232,.1);
     -fx-background-opacity: 0.2;
      -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

#popupMain .label
{
	-fx-text-alignment: center;
		-fx-text-fill: white;
		 -fx-font-size:14px;  
		 -fx-padding: 0 5 0 5;
}

#launchLabel
{
	-fx-text-alignment: center;
		-fx-text-fill: white;
		 -fx-font-size:16px;  
}

