#canvasPane {
	-fx-alignment: center;
}

#controlPane {
	-fx-alignment: top-center;
	-fx-spacing: 10px;
	-fx-fill-height: true;
}

#runButton {
	-fx-text-alignment: center;
}

#messagePane {
	-fx-background-color: transparent;
	-fx-padding: 5, 0, 0, 0;
}

#mainBorderPane, #suggestionsView, #worldViewPane {
		-fx-background-color: #2c2f33;
	
}

#programTitle {
	-fx-font: 72px "Consolas";
	-fx-text-fill: #7c7c7c;
}

#selectWorldLabel {
	-fx-font: 55px "Consolas";
	-fx-text-fill: #7c7c7c;
}
.menu, .context-menu, .menu-bar {
					-fx-background-color: #828282;
				
}
#patternLabel, #editorToolsLbl {
	-fx-padding: 15 0 0 0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	
}

#centralCanvas {
	-fx-pref-height: 500;
	-fx-pref-width: 500;
}

#startView {
	-fx-padding: 40;
	-fx-hgap: 20;
	-fx-vgap: 20;
}

#canvasPane {
	-fx-pref-height: 140;
	-fx-pref-width: 140;
}

#generatedMapsLabel {
	-fx-padding: 10 10 10 10;
		-fx-text-fill: white;
	
}

#generatedMapsLabel .label {
	-fx-font-weight: bold;
		-fx-text-fill: white;
	
}

.labeled-canvas .label {
	-fx-text-alignment: center;
		-fx-text-fill: white;
	
}

.labeled-text-field .label {
	-fx-pref-width: 200;
		-fx-text-fill: white;
	
}

#toolbox .button,
#toolbox .toggle-button {
	-fx-pref-width: 80;
}


