#canvasPane {
	-fx-alignment: center;
}

#controlPane {
	-fx-alignment: top-center;
	-fx-spacing: 10px;
	-fx-fill-height: true;
}

#runButton {
	-fx-text-alignment: center;
}

#messagePane {
	-fx-background-color: transparent;
	-fx-padding: 5, 0, 0, 0;
}