#canvasPane {
	-fx-alignment: center;
}

#controlPane {
	-fx-alignment: top-center;
	-fx-spacing: 10px;
	-fx-fill-height: true;
}

#runButton {
	-fx-text-alignment: center;
}

#messagePane {
	-fx-background-color: transparent;
	-fx-padding: 5, 0, 0, 0;
}

#patternLabel {
	-fx-padding: 15 0 0 0;
	-fx-font-weight: bold;
}

#centralCanvas {
	-fx-pref-height: 500;
	-fx-pref-width: 500;
}

#startView {
	-fx-padding: 40;
	-fx-hgap: 20;
	-fx-vgap: 20;
}

#canvasPane {
	-fx-pref-height: 140;
	-fx-pref-width: 140;
}

.labeled-canvas .label {
	-fx-text-alignment: center;
}

.labeled-text-field .label {
	-fx-pref-width: 200;
}

#toolbox .button {
	-fx-pref-width: 80;
}