#Ignore everyting in this directory
*
*/expressive-range/copy/**
#Except this file
!*/
!.gitignore
!/expressive-range/**
!/cc-data-collection/LOW
!/cc-data-collection/MEDIUM
!/cc-data-collection/HIGH
